bak/
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.95,0.0,0.05]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.8,0.1,0.1]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.95,0.025,0.025]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.15,0.55,0.3]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[1.0,0.0,0.0]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.9995,0.00025,0.00025]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.95,0.05,0.0]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.95,0.05,0.0]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[1.0,0.0,0.0]+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
acl_2024_r2/fever-long_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
acl_2024_r2/fever-short_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
acl_2024_r3/fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.1,0.45,0.45]+[0.3,0.5,0.2]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.9995,0.0005,0.0]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.8,0.1,0.1]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.95,0.025,0.025]_gpt-3.5-turbo-1106_google_annot.log
acl_2024_r7/open-squad-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.45,0.25]_gpt-3.5-turbo-1106_google_annot.log
acl_2024_r7/open-squad-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.5,0.2]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.1,0.45,0.45]+[0.2,0.55,0.25]_gpt-3.5-turbo-1106_google_annot.log
acl_2024_r1/fever-long_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
acl_2024_r1/fever-long_got-3+demos-sa+cx+t5-nli-ec+ci+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.3,0.5,0.2]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.2,0.4,0.4]+[0.15,0.55,0.3]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.95,0.0,0.05]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.1,0.45,0.45]+[0.15,0.55,0.3]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.9995,0.0,0.0005]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.9995,0.0005,0.0]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.1,0.45,0.45]+[1.0,0.0,0.0]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.2,0.4,0.4]+[0.3,0.6,0.1]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.9995,0.0,0.0005]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[1.0,0.0,0.0]+[0.3,0.5,0.2]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.3,0.35,0.35]+[0.3,0.5,0.2]_gpt-3.5-turbo-1106_google_annot.log
fever-medium_got-3+demos-sa-knn+cx+t5-nli-ec+ci+[0.4,0.3,0.3]+[0.9995,0.00025,0.00025]_gpt-3.5-turbo-1106_google_annot.log
